<ni-card [title]="'Cadastre-se'" [align]="'center'">
  <!-- o title aqui é uma classe!! -->
  <form (ngSubmit)="onSubmit()">
    
    <md-input-container>
      <input mdInput placeholder="Nome" value={{nome}}>
    </md-input-container>

    
    <md-input-container>
      <input mdInput placeholder="Sobrenome" value={{sobrenome}}>
    </md-input-container>

    <!--
    <md-input-container>
      <input mdInput placeholder="Data de Nascimento" value={{date}}>
    </md-input-container>
    -->

    <md-input-container>
      <input mdInput placeholder="E-mail" value={{email}}>
    </md-input-container>

    <md-input-container>
      <input mdInput placeholder="Senha" value={{senha}}>
    </md-input-container>

    <md-input-container>
      <input mdInput placeholder="Confirmar Senha" value={{confirmar}}>
    </md-input-container>

    <button md-raised-button color="primary" type="submit">Sign Up</button>

    <div class="additional-info">
      Já está cadastrado?
      <a href="extra-layout/sign-in">Sign in</a>
    </div>
  </form>
</ni-card>
