<ni-card [title]="'Cadastre-se'" [align]="'center'">
  <!-- o title aqui é uma classe!! -->
  <!-- <form (ngSubmit)="onSubmit()"> -->
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <md-input-container>
        <input mdInput placeholder="RA" id="ra" formControlName="ra" value="" class="form-control">
        <div *ngIf="ra.touched && ra.invalid" class="alert alert-danger">
          <div *ngIf="ra.errors.required">Preenchimento do RA é necessário!</div>
        </div>
      </md-input-container>
    </div>

    <div class="form-group">
      <md-input-container>
        <input mdInput placeholder="Nome" id="nome" formControlName="nome" value="" class="form-control">
        <div *ngIf="nome.touched && nome.invalid" class="alert alert-danger">
          <div *ngIf="nome.errors.required">Preenchimento do nome é necessário!</div>
        </div>
      </md-input-container>
    </div>

    <div class="form-group">
      <md-input-container>
        <input mdInput placeholder="E-mail" id="email" formControlName="email" value="" class="form-control">
        <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
          <div *ngIf="email.errors.required">E-mail inválido!</div>   
        </div>  
         </md-input-container>
    </div>

    <div class="form-group">
      <md-input-container>
        <input mdInput placeholder="Senha" type="password" id="senha" formControlName="senha" value="" class="form-control">
        <div *ngIf="senha.touched && senha.invalid" class="alert alert-danger">
            <div *ngIf="senha.errors.required">Senha inválida!</div>  
            
        </div>  
      </md-input-container>
    </div>

    <div class="form-group">
      <md-input-container>
        <input mdInput placeholder="Confirmar Senha" type="password" id="confirmarSenha" formControlName="confirmarSenha" value="" class="form-control">
        <div *ngIf="confirmarSenha.touched && confirmarSenha.invalid" class="alert alert-danger">
          <div *ngIf="confirmarSenha.errors?.equalTo && confirmarSenha.errors.required">Senhas não correspondem!</div>  
        </div> 
      </md-input-container>
    </div>
<!--
    <div class="form-group">
      <md-input-container>
        <input mdInput placeholder="Curso" id="idcursos" formControlName="idcursos" value="" class="form-control">
        <div *ngIf="idcursos.touched && idcursos.invalid" class="alert alert-danger">
          <div *ngIf="idcursos.errors.required">Preenchimento do Curso é necessário!</div>
        </div>
      </md-input-container>
    </div>
  -->  
    <div>
      <md-select placeholder="Curso" id="idcursos" formControlName="idcursos" class="form-control">
          <md-option *ngFor="let curso of cursos" [value]="curso.value">
            {{ curso.viewValue }}
          </md-option>
          <div *ngIf="idcursos.touched && idcursos.invalid" class="alert alert-danger">
            <div *ngIf="idcursos.errors.required">Preenchimento do Curso é necessário!</div>
          </div>
        </md-select>
    </div>

    <br>
    
    <!--
    <md-input-container>
      <input mdInput placeholder="Data de Nascimento" value={{date}}>
    </md-input-container>
    -->

    <button md-raised-button color="primary" type="submit">Cadastrar</button>
    </form>
    <div class="additional-info">
      Já está cadastrado?
      <a href="#/extra-layout/sign-in-social">Entrar</a>
    </div>
  
</ni-card>