<!--
<div class="row">
  <div class="col-md-6">
    <ni-card [title]="'About admin'">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolor ducimus est excepturi illo itaque
        modi quis repudiandae totam vitae. Accusamus beatae consectetur dolorum pariatur sapiente. Ad architecto at aut
        et ex facilis fuga, laboriosam, magnam modi obcaecati officia officiis, omnis praesentium quam quas reiciendis
        rerum ullam velit veritatis vitae.</p>

      <div class="row">
        <div class="col-md-6">
          <p class="mb-1"><strong>Wordpress</strong></p>
          <md-progress-bar mode="determinate" [value]="90"></md-progress-bar>

          <p class="mb-1"><strong>Magento</strong></p>
          <md-progress-bar mode="determinate" [value]="80"></md-progress-bar>

          <p class="mb-1"><strong>Opencart</strong></p>
          <md-progress-bar mode="determinate" [value]="60"></md-progress-bar>

          <p class="mb-1"><strong>Drupal</strong></p>
          <md-progress-bar mode="determinate" [value]="30"></md-progress-bar>
          <div class="clearfix"></div>
        </div>

        <div class="col-md-6">
          <p class="mb-1"><strong>Angular</strong></p>
          <md-progress-bar mode="determinate" color="accent" [value]="98"></md-progress-bar>

          <p class="mb-1"><strong>React</strong></p>
          <md-progress-bar mode="determinate" color="accent" [value]="85"></md-progress-bar>

          <p class="mb-1"><strong>Vue.js</strong></p>
          <md-progress-bar mode="determinate" color="accent" [value]="40"></md-progress-bar>

          <p class="mb-1"><strong>Backbone.js</strong></p>
          <md-progress-bar mode="determinate" color="accent" [value]="38"></md-progress-bar>
          <div class="clearfix"></div>
        </div>
      </div>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam cumque dicta earum, iure maiores neque
        nesciunt officia quisquam ullam.</p>
    </ni-card>
  </div>
  <div class="col-md-6">
    <ni-card title="Audience Overview">
      <canvas
        baseChart
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"></canvas>
    </ni-card>
  </div>
</div>
-->
<div class="text-center">
  <h4>Conheça o time</h4>
  <p>Graduandos do Instituto Mauá de Tecnologia que desenvolveram o sistema.</p>
  <div class="clearfix"></div>
</div>

<div class="row">
  <div class="col-md-6 col-xl-3">
    <ni-card [align]="'center'" class="mb-xl-0">
      <img src="assets/content/person.jpg" class="circle" width="150" height="150" alt="">
      <h5>Flávia Janine</h5>
      <p></p>
    </ni-card>
  </div>
  <div class="col-md-6 col-xl-3">
    <ni-card [align]="'center'" class="mb-xl-0">
      <img src="assets/content/person2.jpg" class="circle" width="150" height="150" alt="">
      <h5>Luiz Venarusso</h5>
      <p></p>
    </ni-card>
  </div>
  <div class="col-md-6 col-xl-3">
    <ni-card [align]="'center'" class="mb-md-0">
      <img src="assets/content/person3.jpg" class="circle" width="150" height="150" alt="">
      <h5>Bruno Campos</h5>
      <p></p>
    </ni-card>
  </div>
</div>
