
<div class="row">
    <!-- <md-progress-bar mode="indeterminate" class="mb-0" id="progress" style="display:block;"></md-progress-bar> -->
    <div class="col-lg-6">
      <ni-card title="Geometria Analítica - Provas">
        <div id="amchart-3" [style.width.%]="100" [style.height.px]="400"></div>
      </ni-card>
    </div>

    <div class="col-lg-6">
      <ni-card title="Situação">
        <div id="amchart-5" [style.width.%]="100" [style.height.px]="400"></div>
      </ni-card>
    </div>
</div>